In [43]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

## Q1)

In [50]:
data_train = pd.read_csv('../data/train_tweets.csv')
data_test = pd.read_csv('../data/test_tweets.csv')
data_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

La variable data_train contient notre Ã©tiquette, df contient notre jeu sans elle.

In [51]:
data_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [45]:
df = data_train.drop(columns=['target'])
df.head()

   id keyword location                                               text
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

## Q2)

In [46]:
def get_missing_rate(df):
    print("Nombres de lignes dupliquÃ©s : ", df.duplicated().sum())
    print("Pourcentage des valeurs manquantes dans chaque colonnes:")
    print(df.isna().sum()/df.shape[0] * 100)

- Train :

In [47]:
get_missing_rate(df)

Nombres de lignes dupliquÃ©s :  0
Pourcentage des valeurs manquantes dans chaque colonnes:
id           0.000000
keyword      0.801261
location    33.272035
text         0.000000
dtype: float64

Notre dataset contient environ 33â¯% de valeurs manquantes dans la colonne location. Supprimer ces lignes ne serait pas pertinent, car cela reviendrait Ã  perdre un tiers de nos donnÃ©es.

Ãtant donnÃ© que notre objectif est de classer des tweets, les variables les plus utiles sont keyword et text. La localisation nâa pas dâimpact direct sur le contenu ou le sens du tweet, donc nous pouvons laisser cette colonne vide sans nuire Ã  notre analyse.

Nous poursuivons donc lâexploration des donnÃ©es sans imputer ou supprimer les valeurs manquantes de location.

- Test :

In [49]:
get_missing_rate(data_test)

Nombres de lignes dupliquÃ©s :  0
Pourcentage des valeurs manquantes dans chaque colonnes:
id           0.000000
keyword      0.796813
location    33.864542
text         0.000000
dtype: float64