In [15]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer
from utils import special_char

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/antoine/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:
data_train = pd.read_csv('../data/train_tweets.csv')
data_test = pd.read_csv('../data/test_tweets.csv')

In [17]:
data_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [18]:
data_train = special_char("#", "hashtags", data_train, "text")
data_train = special_char("@", "mentions", data_train, "text")

data_train.head(15)

,id,keyword,location,text,target,hashtags,mentions
0,1,NaN,NaN,Our Deeds are the Reason of this earthquake Ma...,1,earthquake,None
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,None,None
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,None,None
3,6,NaN,NaN,"13,000 people receive wildfires evacuation ord...",1,wildfires,None
4,7,NaN,NaN,Just got sent this photo from Ruby Alaska as s...,1,"Alaska, wildfires",None
5,8,NaN,NaN,RockyFire Update => California Hwy. 20 closed ...,1,"RockyFire, CAfire, wildfires",None
6,10,NaN,NaN,flood disaster Heavy rain causes flash floodin...,1,"flood, disaster",None
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1,None,None
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1,None,None
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1,None,None
10,16,NaN,NaN,Three people died from the heat wave so far,1,None,None
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1,flooding,None
12,18,NaN,NaN,raining flooding Florida TampaBay Tampa 18 or ...,1,"raining, flooding, Florida, TampaBay, Tampa",None
13,19,NaN,NaN,Flood in Bago Myanmar We arrived Bago,1,"Flood, We",None
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1,BREAKING,None