In [11]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer
from utils import special_char, extract_url, lowercase

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/antoine/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
data_train = pd.read_csv('../data/train_tweets.csv')
data_test = pd.read_csv('../data/test_tweets.csv')

In [13]:
data_train.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [14]:
data_train = special_char("#", "hashtags", data_train, "text")
data_train = special_char("@", "mentions", data_train, "text")

data_train.head(15)

    id keyword  ...                                     hashtags mentions
0    1     NaN  ...                                   earthquake     None
1    4     NaN  ...                                         None     None
2    5     NaN  ...                                         None     None
3    6     NaN  ...                                    wildfires     None
4    7     NaN  ...                            Alaska, wildfires     None
5    8     NaN  ...                 RockyFire, CAfire, wildfires     None
6   10     NaN  ...                              flood, disaster     None
7   13     NaN  ...                                         None     None
8   14     NaN  ...                                         None     None
9   15     NaN  ...                                         None     None
10  16     NaN  ...                                         None     None
11  17     NaN  ...                                     flooding     None
12  18     NaN  ...  raining, flooding, Florida, TampaBay, Tampa     None
13  19     NaN  ...                                    Flood, We     None
14  20     NaN  ...                                     BREAKING     None

[15 rows x 7 columns]

In [15]:
data_train = extract_url(data_train, "text")

In [16]:
data_train = lowercase(data_train)
data_train.head()

   id keyword location  ...           hashtags  mentions  urls
0   1     NaN      NaN  ...         earthquake      None  None
1   4     NaN      NaN  ...               None      None  None
2   5     NaN      NaN  ...               None      None  None
3   6     NaN      NaN  ...          wildfires      None  None
4   7     NaN      NaN  ...  alaska, wildfires      None  None

[5 rows x 8 columns]

In [17]:
"Mentions : ",data_train['mentions'].notna().sum() ,"Hashtags : ",data_train['hashtags'].notna().sum(), "URLS", data_train['urls'].notna().sum()

('Mentions : ', 2009, 'Hashtags : ', 1743, 'URLS', 3971)

In [18]:
data_train[data_train['urls'].notna()].head()

    id keyword  ... mentions                    urls
31  48  ablaze  ...   bbcmtd  http://t.co/lhyxeohy6c
32  49  ablaze  ...     None  http://t.co/yao1e0xngw
33  50  ablaze  ...     None  http://t.co/2nndbgwyei
35  53  ablaze  ...     None  http://t.co/qqsmshaj3n
37  55  ablaze  ...     None  http://t.co/3imaomknna

[5 rows x 8 columns]

In [19]:
data_train[data_train['mentions'].notna()].head()

    id keyword  ...             mentions                     urls
31  48  ablaze  ...               bbcmtd   http://t.co/lhyxeohy6c
36  54  ablaze  ...           phdsquares                     None
43  63  ablaze  ...       southridgelife                     None
54  78  ablaze  ...       alexis_sanchez  http://t.co/uc4j4jhvgr'
63  91  ablaze  ...  navista7, news24680                     None

[5 rows x 8 columns]